<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gunpo - 흡연 구역</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="map" style="width:100%;height:400px;"></div>

    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=//"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
    // 지도 생성
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(37.36315, 126.92256), // 군포시청 기준 좌표
            level: 5 // 지도 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 흡연 구역 데이터를 가져와서 마커 추가
    fetch('/api/smoking-area')
        .then(response => response.json())
        .then(data => {
            console.log(data); // 데이터를 콘솔에 출력하여 확인
            if (data && Array.isArray(data.data)) {
                data.data.forEach(area => {
                    if (area.latitude && area.longitude) {
                        var markerPosition = new kakao.maps.LatLng(Number(area.latitude), Number(area.longitude));

                        var marker = new kakao.maps.Marker({
                            position: markerPosition,
                            map: map
                        });

                        var infoWindowContent = `<div style="padding:5px;">${area.boothName}</div>`;
                        var infoWindow = new kakao.maps.InfoWindow({
                            content: infoWindowContent
                        });

                        // 마커에 마우스오버 이벤트 추가
                        kakao.maps.event.addListener(marker, 'mouseover', function() {
                            infoWindow.open(map, marker);
                        });

                        // 마커에 마우스리브 이벤트 추가
                        kakao.maps.event.addListener(marker, 'mouseout', function() {
                            infoWindow.close();
                        });
                    }
                });
            } else {
                console.error('No smoking areas found or invalid data structure');
            }
        })
        .catch(error => {
            console.error('Error fetching smoking area data:', error);
        });
</script>
</body>
</html>